.DashBlok{
    width: 100%;
    height: 100vh;
    overflow: hidden !important;
    display: flex;
}

.DashBlok .dashbord {
    width: 100%;
    height: 100%;
}

.DashBlok .dashbord .Dashbord_table{
    width: 100%;
    height: 90vh;
    overflow: scroll;
    padding: 15px;
}

.right{
    border-right: 1px solid rgba(175, 173, 173, 0.411);
}