.Content .foiz{
    width: 90px;
    height: 6px;
    background: #C4C4C4;
    border-radius: 5px;
}
.Content .foiz div{
    width: 70%;
    height: 100%;
    background: #51CBFF;
   border-radius: 5px;
}

.Content h5{
    font-size: 1rem ;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.Content .market{
  font-size: 0.9rem;
  font-weight: 500;
  color: #C4C4C4;
}
.Content .blok{
    border-radius: 6px;
    border: 1px solid #C4C4C4;
    padding: 5px 6px;
    text-align: center;
    color: black;
    font-weight: 600;
    margin-right: 10px;
}
.Content{
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 10px;
    padding-top: 10px;
}
.Content span{
    font-size: 1rem;
    font-weight: 500;
    color: #C4C4C4;
    margin-left: 3px;
}