.Table {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1.5px solid #ECEDF3;
}

.Table .nav {
    width: 100%;
    padding: 10px;
    background: #F9FAFD;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.Table .nav div {
    padding: 4px 10px;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;

}

.Table .nav div:hover {
    background: #fff;
    border: 1px solid #51CBFF;
}

.Table .nav b {
    color: #51CBFF;
    margin: 0;
    padding: 0;
}

.Table .nav span {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}

.Table .Comment {
    width: 70%;
    background: #E6F3FF;
    border: 1px solid #017EFA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 6px;
    margin-left: 10%;
    margin-bottom: 10px;
}

.Table .Comment:nth-child(2) {
    width: 70%;
    background: #E6F3FF;
    border: 1px solid #017EFA;
}

.Table .Comment:nth-child(3) {
    width: 50%;
    background: #F3F0FF;

    border: 1px solid #7659FF;
}

.Table .Comment:nth-child(4) {
    width: 50%;
    background: #FFEAF6;
    margin-left: 27%;
    border: 1px solid #FD269E;
}

.Table .Comment:nth-child(5) {
    margin-left: 20%;
}

.Table .Comment h4 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.Table .Comment p {
    margin: 0;
    padding: 0;
    color: #2a2d446c;
    font-size: 0.9rem;
}

.Table .Dots {
    display: flex;
    flex-direction: column;


}

.Table .Dots .dot {
    width: 2px;
    height: 2px;
    background:
        #8E8E8E;
    border-radius: 10px;
    margin: 1px 10px;
}