.TopNav {
  position: absolute;
  z-index: 1000;
  left: 45%;
  top: -12%;
  background: rgba(0, 0, 0, 0.418);
  padding: 15px 20px 5px 20px;
  border-radius: 10px;
  transition: 0.40s cubic-bezier(0.23, 1, 0.320, 1);
}

.TopNav:hover .up{
  margin-bottom: -15px;
  transform: translateY(15px);
}
@media (max-width:992px) {
  .TopNav {
    left: 35%;
  }
}

.UP{
  top: 0%;
}
.TopNav .up {
  display: block;
  width: 100%;
  margin-top: 5px;
  transition: 0.35s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}